//- navbar

div(class="navbar navbar-inverse navbar-fixed-top")
    div(class='navbar-inner')
        div(class='container-fluid')
            a(class="brand", href="/") AutoSchematic
            ul(class='nav')
                li
                    a(href='/team') Meet the Team
                li
                    a(href='/details') Details
                li
                    a(href='/upload') Upload a Schematic
