extends layout

block scripts

block content
    h1(class='text-center') #{title}
    div(class='hidden',id='file') #{filename}
    div(class='well text-center') 
        | Done cutting!
        div(class='text-center') Your kitten is happy!
        div
            image(src=url, class='img-rounded', id='kitten')