body {
    font: 18px 'Raleway', "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-control-inline {
    width: 100%
}

.inline-block {
  display: inline-block;
}

.well {
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav {
    font-size: 16px;
}

img {
    margin-top: 20px;
}

#logo {
  width: 600px;
}

.nav-logo {
  height: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-fixed-top {
  border: 0px
}

.body {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    min-width: 360px;
    /*padding: 0;*/
}

@media only screen and (max-width: 959px) {
    .body {
        width: 95%;
        margin-top: 7%;
    }
  }